.App {
  background: linear-gradient(252.44deg, #262d96 0%, #764af6 100%);
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
